--
-- PostgreSQL database dump
--

-- Dumped from database version 15.3 (Debian 15.3-1.pgdg120+1)
-- Dumped by pg_dump version 15.3 (Debian 15.3-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: aerich; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.aerich (
    id integer NOT NULL,
    version character varying(255) NOT NULL,
    app character varying(100) NOT NULL,
    content jsonb NOT NULL
);


ALTER TABLE public.aerich OWNER TO ballsdex;

--
-- Name: aerich_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

CREATE SEQUENCE public.aerich_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.aerich_id_seq OWNER TO ballsdex;

--
-- Name: aerich_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ballsdex
--

ALTER SEQUENCE public.aerich_id_seq OWNED BY public.aerich.id;


--
-- Name: ball; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.ball (
    id integer NOT NULL,
    country character varying(48) NOT NULL,
    health integer NOT NULL,
    attack integer NOT NULL,
    rarity double precision NOT NULL,
    emoji_id bigint NOT NULL,
    wild_card character varying(200) NOT NULL,
    collection_card character varying(200) NOT NULL,
    credits character varying(64) NOT NULL,
    capacity_name character varying(64) NOT NULL,
    capacity_description character varying(256) NOT NULL,
    capacity_logic jsonb NOT NULL,
    enabled boolean DEFAULT true NOT NULL,
    short_name character varying(12),
    catch_names text,
    tradeable boolean DEFAULT true NOT NULL,
    economy_id integer,
    regime_id integer NOT NULL
);


ALTER TABLE public.ball OWNER TO ballsdex;

--
-- Name: COLUMN ball.health; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.ball.health IS 'Ball health stat';


--
-- Name: COLUMN ball.attack; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.ball.attack IS 'Ball attack stat';


--
-- Name: COLUMN ball.rarity; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.ball.rarity IS 'Rarity of this ball';


--
-- Name: COLUMN ball.emoji_id; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.ball.emoji_id IS 'Emoji ID for this ball';


--
-- Name: COLUMN ball.wild_card; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.ball.wild_card IS 'Image used when a new ball spawns in the wild';


--
-- Name: COLUMN ball.collection_card; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.ball.collection_card IS 'Image used when displaying balls';


--
-- Name: COLUMN ball.credits; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.ball.credits IS 'Author of the collection artwork';


--
-- Name: COLUMN ball.capacity_name; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.ball.capacity_name IS 'Name of the countryball''s capacity';


--
-- Name: COLUMN ball.capacity_description; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.ball.capacity_description IS 'Description of the countryball''s capacity';


--
-- Name: COLUMN ball.capacity_logic; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.ball.capacity_logic IS 'Effect of this capacity';


--
-- Name: COLUMN ball.economy_id; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.ball.economy_id IS 'Economical regime of this country';


--
-- Name: COLUMN ball.regime_id; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.ball.regime_id IS 'Political regime of this country';


--
-- Name: ball_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

CREATE SEQUENCE public.ball_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ball_id_seq OWNER TO ballsdex;

--
-- Name: ball_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ballsdex
--

ALTER SEQUENCE public.ball_id_seq OWNED BY public.ball.id;


--
-- Name: ballinstance; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.ballinstance (
    id integer NOT NULL,
    catch_date timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    health_bonus integer DEFAULT 0 NOT NULL,
    attack_bonus integer DEFAULT 0 NOT NULL,
    ball_id integer NOT NULL,
    player_id integer NOT NULL,
    trade_player_id integer,
    favorite boolean DEFAULT false NOT NULL,
    shiny boolean DEFAULT false NOT NULL,
    special_id integer,
    server_id bigint
);


ALTER TABLE public.ballinstance OWNER TO ballsdex;

--
-- Name: ballinstance_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

CREATE SEQUENCE public.ballinstance_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ballinstance_id_seq OWNER TO ballsdex;

--
-- Name: ballinstance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ballsdex
--

ALTER SEQUENCE public.ballinstance_id_seq OWNED BY public.ballinstance.id;


--
-- Name: blacklistedguild; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.blacklistedguild (
    id integer NOT NULL,
    discord_id bigint NOT NULL,
    reason text,
    date timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.blacklistedguild OWNER TO ballsdex;

--
-- Name: COLUMN blacklistedguild.discord_id; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.blacklistedguild.discord_id IS 'Discord Guild ID';


--
-- Name: blacklistedguild_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

CREATE SEQUENCE public.blacklistedguild_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.blacklistedguild_id_seq OWNER TO ballsdex;

--
-- Name: blacklistedguild_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ballsdex
--

ALTER SEQUENCE public.blacklistedguild_id_seq OWNED BY public.blacklistedguild.id;


--
-- Name: blacklistedid; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.blacklistedid (
    id bigint NOT NULL,
    discord_id bigint NOT NULL,
    reason text,
    date timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.blacklistedid OWNER TO ballsdex;

--
-- Name: COLUMN blacklistedid.id; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.blacklistedid.id IS 'Discord user ID';


--
-- Name: blacklistedid_discord_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

CREATE SEQUENCE public.blacklistedid_discord_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.blacklistedid_discord_id_seq OWNER TO ballsdex;

--
-- Name: blacklistedid_discord_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ballsdex
--

ALTER SEQUENCE public.blacklistedid_discord_id_seq OWNED BY public.blacklistedid.id;


--
-- Name: economy; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.economy (
    id integer NOT NULL,
    name character varying(64) NOT NULL,
    icon character varying(200) NOT NULL
);


ALTER TABLE public.economy OWNER TO ballsdex;

--
-- Name: COLUMN economy.icon; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.economy.icon IS '512x512 PNG image';


--
-- Name: economy_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

CREATE SEQUENCE public.economy_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.economy_id_seq OWNER TO ballsdex;

--
-- Name: economy_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ballsdex
--

ALTER SEQUENCE public.economy_id_seq OWNED BY public.economy.id;


--
-- Name: guildconfig; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.guildconfig (
    id integer NOT NULL,
    guild_id bigint NOT NULL,
    spawn_channel bigint,
    enabled boolean DEFAULT true NOT NULL
);


ALTER TABLE public.guildconfig OWNER TO ballsdex;

--
-- Name: COLUMN guildconfig.guild_id; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.guildconfig.guild_id IS 'Discord guild ID';


--
-- Name: COLUMN guildconfig.spawn_channel; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.guildconfig.spawn_channel IS 'Discord channel ID where balls will spawn';


--
-- Name: COLUMN guildconfig.enabled; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.guildconfig.enabled IS 'Whether the bot will spawn countryballs in this guild';


--
-- Name: guildconfig_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

CREATE SEQUENCE public.guildconfig_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.guildconfig_id_seq OWNER TO ballsdex;

--
-- Name: guildconfig_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ballsdex
--

ALTER SEQUENCE public.guildconfig_id_seq OWNED BY public.guildconfig.id;


--
-- Name: player; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.player (
    id integer NOT NULL,
    discord_id bigint NOT NULL,
    donation_policy smallint DEFAULT 1 NOT NULL
);


ALTER TABLE public.player OWNER TO ballsdex;

--
-- Name: COLUMN player.discord_id; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.player.discord_id IS 'Discord user ID';


--
-- Name: player_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

CREATE SEQUENCE public.player_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.player_id_seq OWNER TO ballsdex;

--
-- Name: player_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ballsdex
--

ALTER SEQUENCE public.player_id_seq OWNED BY public.player.id;


--
-- Name: regime; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.regime (
    id integer NOT NULL,
    name character varying(64) NOT NULL,
    background character varying(200) NOT NULL
);


ALTER TABLE public.regime OWNER TO ballsdex;

--
-- Name: COLUMN regime.background; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.regime.background IS '1428x2000 PNG image';


--
-- Name: regime_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

CREATE SEQUENCE public.regime_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.regime_id_seq OWNER TO ballsdex;

--
-- Name: regime_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ballsdex
--

ALTER SEQUENCE public.regime_id_seq OWNED BY public.regime.id;


--
-- Name: special; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.special (
    id integer NOT NULL,
    name character varying(64) NOT NULL,
    catch_phrase character varying(128),
    start_date timestamp with time zone NOT NULL,
    end_date timestamp with time zone NOT NULL,
    rarity double precision NOT NULL,
    emoji character varying(20),
    background character varying(200)
);


ALTER TABLE public.special OWNER TO ballsdex;

--
-- Name: COLUMN special.catch_phrase; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.special.catch_phrase IS 'Sentence sent in bonus when someone catches a special card';


--
-- Name: COLUMN special.rarity; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public.special.rarity IS 'Value between 0 and 1, chances of using this special background.';


--
-- Name: special_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

CREATE SEQUENCE public.special_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.special_id_seq OWNER TO ballsdex;

--
-- Name: special_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ballsdex
--

ALTER SEQUENCE public.special_id_seq OWNED BY public.special.id;


--
-- Name: trade; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.trade (
    id integer NOT NULL,
    date timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    player1_id integer NOT NULL,
    player2_id integer NOT NULL
);


ALTER TABLE public.trade OWNER TO ballsdex;

--
-- Name: trade_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

CREATE SEQUENCE public.trade_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.trade_id_seq OWNER TO ballsdex;

--
-- Name: trade_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ballsdex
--

ALTER SEQUENCE public.trade_id_seq OWNED BY public.trade.id;


--
-- Name: tradeobject; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.tradeobject (
    id integer NOT NULL,
    ballinstance_id integer NOT NULL,
    player_id integer NOT NULL,
    trade_id integer NOT NULL
);


ALTER TABLE public.tradeobject OWNER TO ballsdex;

--
-- Name: tradeobject_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

CREATE SEQUENCE public.tradeobject_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tradeobject_id_seq OWNER TO ballsdex;

--
-- Name: tradeobject_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ballsdex
--

ALTER SEQUENCE public.tradeobject_id_seq OWNED BY public.tradeobject.id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password character varying(200) NOT NULL,
    last_login timestamp with time zone NOT NULL,
    avatar character varying(200) DEFAULT ''::character varying NOT NULL,
    intro text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."user" OWNER TO ballsdex;

--
-- Name: COLUMN "user".last_login; Type: COMMENT; Schema: public; Owner: ballsdex
--

COMMENT ON COLUMN public."user".last_login IS 'Last Login';


--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_id_seq OWNER TO ballsdex;

--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ballsdex
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: aerich id; Type: DEFAULT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.aerich ALTER COLUMN id SET DEFAULT nextval('public.aerich_id_seq'::regclass);


--
-- Name: ball id; Type: DEFAULT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ball ALTER COLUMN id SET DEFAULT nextval('public.ball_id_seq'::regclass);


--
-- Name: ballinstance id; Type: DEFAULT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ballinstance ALTER COLUMN id SET DEFAULT nextval('public.ballinstance_id_seq'::regclass);


--
-- Name: blacklistedguild id; Type: DEFAULT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.blacklistedguild ALTER COLUMN id SET DEFAULT nextval('public.blacklistedguild_id_seq'::regclass);


--
-- Name: blacklistedid id; Type: DEFAULT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.blacklistedid ALTER COLUMN id SET DEFAULT nextval('public.blacklistedid_discord_id_seq'::regclass);


--
-- Name: economy id; Type: DEFAULT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.economy ALTER COLUMN id SET DEFAULT nextval('public.economy_id_seq'::regclass);


--
-- Name: guildconfig id; Type: DEFAULT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.guildconfig ALTER COLUMN id SET DEFAULT nextval('public.guildconfig_id_seq'::regclass);


--
-- Name: player id; Type: DEFAULT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.player ALTER COLUMN id SET DEFAULT nextval('public.player_id_seq'::regclass);


--
-- Name: regime id; Type: DEFAULT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.regime ALTER COLUMN id SET DEFAULT nextval('public.regime_id_seq'::regclass);


--
-- Name: special id; Type: DEFAULT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.special ALTER COLUMN id SET DEFAULT nextval('public.special_id_seq'::regclass);


--
-- Name: trade id; Type: DEFAULT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.trade ALTER COLUMN id SET DEFAULT nextval('public.trade_id_seq'::regclass);


--
-- Name: tradeobject id; Type: DEFAULT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.tradeobject ALTER COLUMN id SET DEFAULT nextval('public.tradeobject_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Data for Name: aerich; Type: TABLE DATA; Schema: public; Owner: ballsdex
--



--
-- Data for Name: ball; Type: TABLE DATA; Schema: public; Owner: ballsdex
--



--
-- Data for Name: ballinstance; Type: TABLE DATA; Schema: public; Owner: ballsdex
--



--
-- Data for Name: blacklistedguild; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.blacklistedguild (id, discord_id, reason, date) FROM stdin;
1	1101890698149642372	2 members, suspicious\nBy: .lemonades. (726495219356532766)	2023-10-20 17:25:22.87759+00
2	1092145404805660873	suspicious\nBy: .lemonades. (726495219356532766)	2023-10-20 17:26:10.427482+00
\.


--
-- Data for Name: blacklistedid; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.blacklistedid (id, discord_id, reason, date) FROM stdin;
1	1101890356439695390	None\nDone through the bot by .lemonades. (726495219356532766)	2023-11-17 20:30:45.690996+00
\.


--
-- Data for Name: economy; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.economy (id, name, icon) FROM stdin;
1	Capitalist	/ballsdex/core/image_generator/src/capitalist.png
2	Communist	/ballsdex/core/image_generator/src/communist.png
\.


--
-- Data for Name: guildconfig; Type: TABLE DATA; Schema: public; Owner: ballsdex
--



--
-- Data for Name: player; Type: TABLE DATA; Schema: public; Owner: ballsdex
--



--
-- Data for Name: regime; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.regime (id, name, background) FROM stdin;
3	Union	/ballsdex/core/image_generator/src/union.png
2	Country	/static/uploads/image_2023-07-27_144115597.png
4	Company	/static/uploads/image_2023-07-27_175347822.png
1	City	/static/uploads/image_2023-07-30_222348839.png
5	Province	/static/uploads/image_2023-07-31_222759820.png
6	Island	/static/uploads/image_2023-08-10_153815776.png
\.


--
-- Data for Name: special; Type: TABLE DATA; Schema: public; Owner: ballsdex
--



--
-- Data for Name: trade; Type: TABLE DATA; Schema: public; Owner: ballsdex
--



--
-- Data for Name: tradeobject; Type: TABLE DATA; Schema: public; Owner: ballsdex
--



--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public."user" (id, username, password, last_login, avatar, intro, created_at) FROM stdin;
2	whatami	$2b$12$ypjvR9fE9.5LpuHdtT4HVuW.p7X526ln4iPNsL35.lqgI3mbFkWui	2023-07-31 16:18:47.091274+00			2023-07-31 16:18:47.516311+00
1	lemonades.canadadex	$2b$12$foKR6GWyE3HmtkCRN3gD2.H06ssu485gjDsbOZrOLuWAPBH3mvT0e	2023-07-18 15:35:44.43919+00			2023-07-18 15:35:44.651017+00
\.


--
-- Name: aerich_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.aerich_id_seq', 22, true);


--
-- Name: ball_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.ball_id_seq', 39, true);


--
-- Name: ballinstance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.ballinstance_id_seq', 2901, true);


--
-- Name: blacklistedguild_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.blacklistedguild_id_seq', 2, true);


--
-- Name: blacklistedid_discord_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.blacklistedid_discord_id_seq', 1, true);


--
-- Name: economy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.economy_id_seq', 2, true);


--
-- Name: guildconfig_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.guildconfig_id_seq', 35, true);


--
-- Name: player_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.player_id_seq', 111, true);


--
-- Name: regime_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.regime_id_seq', 6, true);


--
-- Name: special_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.special_id_seq', 4, true);


--
-- Name: trade_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.trade_id_seq', 63, true);


--
-- Name: tradeobject_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.tradeobject_id_seq', 63, true);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.user_id_seq', 2, true);


--
-- Name: aerich aerich_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.aerich
    ADD CONSTRAINT aerich_pkey PRIMARY KEY (id);


--
-- Name: ball ball_country_key; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ball
    ADD CONSTRAINT ball_country_key UNIQUE (country);


--
-- Name: ball ball_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ball
    ADD CONSTRAINT ball_pkey PRIMARY KEY (id);


--
-- Name: ballinstance ballinstance_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ballinstance
    ADD CONSTRAINT ballinstance_pkey PRIMARY KEY (id);


--
-- Name: blacklistedguild blacklistedguild_discord_id_key; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.blacklistedguild
    ADD CONSTRAINT blacklistedguild_discord_id_key UNIQUE (discord_id);


--
-- Name: blacklistedguild blacklistedguild_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.blacklistedguild
    ADD CONSTRAINT blacklistedguild_pkey PRIMARY KEY (id);


--
-- Name: blacklistedid blacklistedid_discord_id_key; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.blacklistedid
    ADD CONSTRAINT blacklistedid_discord_id_key UNIQUE (discord_id);


--
-- Name: blacklistedid blacklistedid_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.blacklistedid
    ADD CONSTRAINT blacklistedid_pkey PRIMARY KEY (id);


--
-- Name: economy economy_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.economy
    ADD CONSTRAINT economy_pkey PRIMARY KEY (id);


--
-- Name: guildconfig guildconfig_guild_id_key; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.guildconfig
    ADD CONSTRAINT guildconfig_guild_id_key UNIQUE (guild_id);


--
-- Name: guildconfig guildconfig_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.guildconfig
    ADD CONSTRAINT guildconfig_pkey PRIMARY KEY (id);


--
-- Name: player player_discord_id_key; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.player
    ADD CONSTRAINT player_discord_id_key UNIQUE (discord_id);


--
-- Name: player player_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.player
    ADD CONSTRAINT player_pkey PRIMARY KEY (id);


--
-- Name: regime regime_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.regime
    ADD CONSTRAINT regime_pkey PRIMARY KEY (id);


--
-- Name: special special_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.special
    ADD CONSTRAINT special_pkey PRIMARY KEY (id);


--
-- Name: trade trade_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.trade
    ADD CONSTRAINT trade_pkey PRIMARY KEY (id);


--
-- Name: tradeobject tradeobject_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.tradeobject
    ADD CONSTRAINT tradeobject_pkey PRIMARY KEY (id);


--
-- Name: ballinstance uid_ballinstanc_player__f154f9; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ballinstance
    ADD CONSTRAINT uid_ballinstanc_player__f154f9 UNIQUE (player_id, id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: user user_username_key; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_username_key UNIQUE (username);


--
-- Name: ballinstance ballinstance_ball_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ballinstance
    ADD CONSTRAINT ballinstance_ball_id_fkey FOREIGN KEY (ball_id) REFERENCES public.ball(id) ON DELETE CASCADE;


--
-- Name: ballinstance ballinstance_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ballinstance
    ADD CONSTRAINT ballinstance_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.player(id) ON DELETE CASCADE;


--
-- Name: ball fk_ball_economy_cfe9c5c3; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ball
    ADD CONSTRAINT fk_ball_economy_cfe9c5c3 FOREIGN KEY (economy_id) REFERENCES public.economy(id) ON DELETE SET NULL;


--
-- Name: ball fk_ball_regime_d7fd92a9; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ball
    ADD CONSTRAINT fk_ball_regime_d7fd92a9 FOREIGN KEY (regime_id) REFERENCES public.regime(id) ON DELETE CASCADE;


--
-- Name: ballinstance fk_ballinst_player_6b1aca0e; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ballinstance
    ADD CONSTRAINT fk_ballinst_player_6b1aca0e FOREIGN KEY (trade_player_id) REFERENCES public.player(id) ON DELETE SET NULL;


--
-- Name: ballinstance fk_ballinst_special_25656e1a; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ballinstance
    ADD CONSTRAINT fk_ballinst_special_25656e1a FOREIGN KEY (special_id) REFERENCES public.special(id) ON DELETE SET NULL;


--
-- Name: trade trade_player1_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.trade
    ADD CONSTRAINT trade_player1_id_fkey FOREIGN KEY (player1_id) REFERENCES public.player(id) ON DELETE CASCADE;


--
-- Name: trade trade_player2_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.trade
    ADD CONSTRAINT trade_player2_id_fkey FOREIGN KEY (player2_id) REFERENCES public.player(id) ON DELETE CASCADE;


--
-- Name: tradeobject tradeobject_ballinstance_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.tradeobject
    ADD CONSTRAINT tradeobject_ballinstance_id_fkey FOREIGN KEY (ballinstance_id) REFERENCES public.ballinstance(id) ON DELETE CASCADE;


--
-- Name: tradeobject tradeobject_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.tradeobject
    ADD CONSTRAINT tradeobject_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.player(id) ON DELETE CASCADE;


--
-- Name: tradeobject tradeobject_trade_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.tradeobject
    ADD CONSTRAINT tradeobject_trade_id_fkey FOREIGN KEY (trade_id) REFERENCES public.trade(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

